main {
    padding: 8vw 7vw 6vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h2 {
    display: flex;
    align-self: center;
    margin-bottom: 50px;
}

h3 {
    font-family: "Arsenal SC";
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
}










.checkbox {
    display: flex;
    min-width: 20vw;
    align-items: center;
    gap: 20px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;
    height: 45px;
    border: 1px solid #6F4E37;
    background-color: #EDE4CC;
    border-radius: 0;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #ACD0D6;
}

input[type="checkbox"]:checked::before {
    content: url(/assets/images/check.svg);
    position: absolute;
    left: 8px;
    top: 8px;
}

p {
    font-family: "Arsenal SC";
    font-size: 25px;
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
}

aside {
    max-width: max-content;
    position: absolute;
    align-self: flex-end;
    margin-top: 7vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h4 {
    font-family: "Arsenal SC";
    font-size: 27px;
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    margin: 0;
}










.name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    border: 1px solid #6F4E37;
    display: flex;
    flex-direction: column;
    width: 304px;
    position: relative;

    .img {
        border-bottom: 1px solid #6F4E37;
        width: 100%;
        height: 222px;
        overflow: hidden;
        object-fit: cover;
        object-position: bottom;
    }

    p {
        font-family: "Arsenal SC";
        font-size: 17px;
        font-weight: 400;
    }

    button {
        color: black;
        background-color: #ACD0D6;
        font-family: "Arsenal SC";
        font-size: 17px;
        font-weight: 400;
        border: none;
        padding: 10px 22px;
        max-width: fit-content;
    }

    h3 {
        margin: 0;
        font-size: 25px;
    }

    a {
        transform-origin: left center;
    }
}

strong {
    font-size: 17px;
    font-weight: 400;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1.5vw;
    flex-wrap: wrap;
}

.container_drinks, .container_food {
    display: flex;
    max-width: 57vw;
    flex-wrap: wrap;
    gap: 3vw;
}

.menu {
    padding: 7vw 7vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.fill {
    padding: 1.5vw;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.heart,
.heart_ {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.img_block {
    position: relative;
}

.unactive {
    opacity: 0;
}

body.dark-theme h3 {
    color:  white;
}











@media screen and (max-width: 1024px) {
  
    nav div {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        gap: 10px;
    }

    footer nav ul li, .social_media li{
        font-size: 20px;
    }

    .social_media li {
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;

        h3 {
            align-self: center;
        }
    }

    aside {
        position: inherit;
        align-self: center;
        display: flex;
        flex-direction: column;

        h3 {
            align-self: center;
        }
    }

    main {
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .drinks, .food {
        flex-direction: column;
        display: flex;
        align-self: center;
    }
}